.clearfix{ clear:both; }
.admin_wrap{ width:800px; }
.admin_opts{ position: relative; margin-top: 30px; }
.admin_section{ top: 0; left: 0; width: 100%; }
.admin_title{ background-color: #f5f5f5; border: 1px solid #ccc; cursor: pointer; position:absolute; top:0px; padding: 0px; width: 133px; text-align:center; }
.admin_title h3 { text-shadow: rgba(255, 255, 255, 0.400) 0px 1px 0px; cursor:pointer; font-size:13px; margin:0; font-weight:bold; float:left; width:100%; padding:10px 0px ; color: #21759B; }
.admin_title h3.active { background-color: #E4E4E4; }
.admin_title h3:hover{ color: #D54E21; } 
#admin_title1{ left:0; }
#admin_title2{ left:133px; }
#admin_title3{ left:266px; }
#admin_title4{ left:399px; }
#admin_title5{ left:532px; }
#admin_title6{ left:665px; }
.admin_options{ display:none; position: relative; top: 39px; padding-top: 1px; }
h3.title{ margin-top: 2em !important; }
.admtxt{  float:left; }
.admin_opts label{  font-size:12px; font-weight:700; display:block; margin-top:2px; cursor:default; }
.admin_input { padding:8px 0px 8px 10px;}
.admin_input.admin_description{ margin-top: -15px; }
.admin_input.ustw_thankyou{ margin-top: 30px; }
.admin_input.ustw_premium{ margin-bottom: 20px; }
.admin_input.admin_description h4{ margin: 1em 0; }
.admin_input.admin_description label{ font-weight:normal;}
.admin_input span.premium { color: #f00; }
.admin_opts small{ display:block; width:380px; line-height:11px; color:#999; }
.stext{ width:150px !important; font-size:12px; padding:4px; margin-top:5px; color:#333; line-height:1em; background:#f5f5f5; float:right;  text-align:right; }
.admin_opts select{ width:150px; font-size:12px; padding:4px; margin-top:5px; color:#333; line-height:1em; background:#f5f5f5; float:right; }
.admin_opts input[type="text"]{ width:300px; font-size:12px; padding:4px; margin-top:5px; color:#333; line-height:1em; background:#f5f5f5; float:right;  text-align:right; }
.admin_input input:hover, .admin_input select:hover{ background:#f8f8f8; }
.admin_input input:focus, .admin_input select:focus{ background:#fff; }
.redsubmit{ margin-top: 5px !important; padding-top: 0px !important; float:right; }
.redsubmit .button{ color: #f55 !important; border-color: #f55 !important; margin-top: 0 !important; }
.submit input[type=submit]{ float:right;  padding:0;  margin-top:55px; padding: 5px 20px !important; height: auto !important; font-size: 110%; text-transform: uppercase; font-weight: bold; }
